.scoreContainer{

width:min(900px,92%);

margin:auto;

background:white;

padding:35px;

border-radius:20px;

box-shadow:var(--shadow);

margin-bottom:80px;

}

.scoreContainer h2{

font-family:"Playfair Display",serif;

margin-bottom:30px;

}

.scoreRow{

margin:20px 0;

}

.labels{

display:flex;

justify-content:space-between;

margin-bottom:8px;

font-weight:700;

}

.track{

height:14px;

background:#ececec;

border-radius:50px;

overflow:hidden;

}

.fill{

height:100%;

transition:width 1.5s ease;

}