.ticker{

height:45px;

background:var(--primary);

overflow:hidden;

display:flex;

align-items:center;

color:white;

font-weight:bold;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.tickerContent{

display:flex;

gap:30px;

white-space:nowrap;

padding-left:100%;

animation:ticker 22s linear infinite;

align-items:center;

font-size:15px;

letter-spacing:2px;

}

.ticker svg{

font-size:8px;

}